<header class="bg-dark text-white p-3">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <h1><a href="/" class="text-white text-decoration-none">ConcertHub</a></h1>
            <nav>
                <a href="/concerts" class="btn btn-outline-light me-2">All Concerts</a>
                <a href="/concerts/new" class="btn btn-primary">Add Concert</a>
            </nav>
        </div>
    </div>
</header>